.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
  justify-items: center;
  margin: 20px 0;
  padding: 10px;
}

@import url("../utils/ProductList/productlist.css")