.product_card {
  max-width: 300px;
  height: 500px;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.product_card img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

.product_box h2 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
}

.product_card span {
  color: crimson;
  font-weight: bold;
}

.product_box p {
  width: 100%;
  height: 70px;
  overflow: hidden;
  color: #323232;
  font-size: 14px;
  margin-top: 5px;
}

.row_btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.row_btn a {
  width: 48%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 4px;
  background: #555;
}

#btn_buy {
  background: #777;
  margin-right: 5px;
}

#btn_view {
  background: #777;
  margin-right: 5px;
}
